.wrapper {
	margin-bottom: 1rem;

	border: 1px solid gray;
	border-radius: 6px;
}

.header_container {
	font-size: 1.1rem;
}

.header_createdAt {
	color: gray;
}

.icons_container {
	display: flex;
}
